* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #46546b;
  background-image: radial-gradient(circle, #fff, #d2d5d6);
}
.container > h1 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container > h2 {
  font-size: 15px;
  text-align: center;
}
.container > h2 a {
  text-decoration: none;
  color: #000;
}
.container .footer {
    margin-top: 100px;
  text-align: center;
}
#demo {
  margin: 30px 0;
}
